@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.lux-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #102E50;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
  }
  
  .lux-button:hover::before {
    width: 100%;
  }
 /* Attractive Colorful Scrollbar */

.scrollbar-custom::-webkit-scrollbar {
  height: 8px;  /* horizontal scrollbar thickness */
  width: 8px;   /* vertical scrollbar thickness */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #4F46E5; /* Purple thumb */
  border-radius: 9999px;
  border: 2px solid #E0E7FF; /* Light border around thumb */
  transition: background-color 0.3s ease-in-out; /* Smooth hover effect */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #3B82F6; /* Blue thumb when hovered */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #E0E7FF; /* Light background for track */
  border-radius: 9999px; /* Rounded corners */
}

/* For Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #e9f5db #E0E7FF; /* Thumb color and track color */
}
